<main class="home-main">
  <div class="assignments-hero">

    {{#if isGuest}}
      <div class="guest-warning">
        <p>You have limited access. Please sign in 
          <a href="/login">Log in</a> 
          to engage with the community.</p>
      </div>
    {{/if}}

    <div class="sort-options">
      <a href="/assignments?sortBy=dueDate" class="sort-link">Sort by Due Date</a> |
      <a href="/assignments?sortBy=title" class="sort-link">Sort by Title</a> |
      <a href="/assignments?sortBy=class" class="sort-link">Sort by Class</a>
    </div>

    {{#if user}}
      <button
        class="add-btn"
        onclick="window.location.href='/assignments/new'">
        Add Assignment
      </button>
    {{/if}}

    <ul class="assignments-list">
      {{#each assignments}}
        <li class="assignment-item">
          <a href="/assignments/{{this._id}}" class="assignment-link">
            <h2>{{this.title}}</h2>
            <p><strong>Due Date:</strong> {{formatDate this.dueDate}}</p>
            <p><strong>Class:</strong> {{this.class}}</p>
            {{#if this.file}}
              <p><strong>File:</strong>
                <a href="{{this.file}}" target="_blank">View Assignment</a></p>
            {{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</main>