<head>
  <link rel="stylesheet" href="/stylesheets/followers.css">
</head>
<main class="home-main">
  <div class="posts-hero">
    <h1>{{user.name}} is Following</h1>

    {{#if following.length}}
      <ul class="user-list">
        {{#each following}}
          <li class="user-list-item">
            <img src="/profile-picture/{{this._id}}" alt="{{this.username}}'s profile picture" class="user-avatar">
            <div class="user-info">
              <h3>{{this.name}}</h3>
              <p>@{{this.username}}</p>
              <a href="/{{this.username}}" class="btn">View Profile</a>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>This user isn't following anyone yet.</p>
    {{/if}}
  </div>
</main>
<script src="/javascripts/reloadPage.js"></script>