<main class="home-main">
  <div class="posts-hero">
    <!-- Guest Warning Section -->
    {{#if isGuest}}
      <div class="guest-warning">
        <p>You have limited access. Please sign in 
          <a href="/login">Log in</a> 
          to engage with the community.</p>
      </div>
    {{/if}}

    <div class="sort-options">
      <a href="/posts/set-filter/all" class="sort-tab {{#ifEquals filter 'all'}}active{{/ifEquals}}" title="View all posts.">All</a>
      {{#if user}}
        <div class="tab-divider"></div>
        <a href="/posts/set-filter/following" class="sort-tab {{#ifEquals filter 'following'}}active{{/ifEquals}}" title="View posts from people you follow.">Following</a>
        <div class="tab-divider"></div>
        <a href="/posts/set-filter/blog" class="sort-tab {{#ifEquals filter 'blog'}}active{{/ifEquals}}" title="View blog posts.">Blog Posts</a>
        <div class="tab-divider"></div>
        <a href="/posts/set-filter/event" class="sort-tab {{#ifEquals filter 'event'}}active{{/ifEquals}}" title="View events.">Events</a>
      {{else}}
        <div class="tab-divider"></div>
        <a href="/login" class="sort-tab inactive">Following</a>
      {{/if}}
    </div>

    <!-- Add Button for Users -->
    {{#if user}}
      <button class="add-btn" onclick="window.location.href='/posts/new'">
        Add Post
      </button>
    {{/if}}

    <!-- Posts List -->
    <ul class="posts-list">
      {{#each posts}}
        <li class="post-item" onclick="window.location.href='/posts/{{this._id}}'">
          <div class="post-content">

            <!-- Profile section (stops event and redirects to profile) -->
            <div class="user-info">
              <a href="/{{this.userId.username}}" class="profile-link">
              <img src="/profile-picture/{{this.userId._id}}" alt="{{this.userId.username}}'s profile picture" class="profile-pic">
              </a>
              <a href="/{{this.userId.username}}" class="profile-link">
              <p class="username">@{{this.userId.username}}</p>
              </a>
              <p>-</p><p class="date">{{timeAgo this.createdAt}}</p>
              <p>-</p><p class="date">{{this.type}}</p>
            </div>

            <!-- Post content -->
            <h2>{{this.title}}</h2>
            {{#ifEquals this.type "event"}}
              <p class="date">{{formatDate this.eventDate}}</p>
            {{else}}
              <p>{{this.description}}</p>
            {{/ifEquals}}
            <div class="like-section">
              <button {{#if ../user}}class="like-btn"{{else}}class="like-btn not-logged-in"{{/if}} data-id="{{this._id}}">
                  {{#if likedByUser}}❤️{{else}}🤍{{/if}} <span class="like-count">{{this.likes.length}}</span>
              </button>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</main>
<script src="/javascripts/updateLike.js"></script>
<script src="/javascripts/reloadPage.js"></script>