<head>
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<main class="home-main">
  <div class="profile-container">
    <section class="profile-header">
      {{#unless isOwnProfile}}
        <form id="follow-form" class="follow-form">
          <button 
            type="button" 
            class="{{#if user}}btn{{else}}btn not-logged-in{{/if}}"
            data-following="{{isFollowing}}" 
            data-user-id="{{profileUser._id}}">
            {{#if isFollowing}}Unfollow{{else}}Follow{{/if}}
          </button>
        </form>
      {{/unless}}

      {{#if isOwnProfile}}
        <div class="edit-profile-btn">
          <a href="/edit-profile" class="btn">Edit Your Profile</a>
        </div>
      {{/if}}

      <img src="/profile-picture/{{profileUser._id}}" alt="Profile Picture" class="profile-img">

      <div class="profile-info">
        <h1 class="profile-name">{{profileUser.name}}</h1>
        <p class="profile-username">@{{profileUser.username}}</p>
        {{#if profileUser.bio}}
          <p class="profile-bio">{{profileUser.bio}}</p>
        {{/if}}
        <div class="follow-stats">
          <p><strong><a href="/{{profileUser.username}}/followers">{{profileUser.followers.length}} Followers</a></strong></p>
          <p><strong><a href="/{{profileUser.username}}/following">{{profileUser.following.length}} Following</a></strong></p>
        </div>
        {{#if profileUser.link}}
          <a href="{{profileUser.link}}" target="_blank">{{profileUser.link}}</a>
        {{/if}}
      </div>
    </section>

    <section class="user-posts-section">
      <h2 class="section-title">Posts</h2>

      {{#if posts.length}}
        <ul class="profile-posts-list">
          {{#each posts}}
            <li class="profile-post-item" onclick="window.location.href='/posts/{{this._id}}'">
              <h3>{{this.title}}</h3>
              <p>{{this.description}}</p>
              <div class="like-section">
                <button {{#if ../user}}class="like-btn"{{else}}class="like-btn not-logged-in"{{/if}} data-id="{{this._id}}">
                    {{#if likedByUser}}❤️{{else}}🤍{{/if}} <span class="like-count">{{this.likes.length}}</span>
                </button>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p class="no-posts">This user hasn't made any posts yet.</p>
      {{/if}}
    </section>
  </div>
</main>
<script src="/javascripts/updateLike.js"></script>
<script src="/javascripts/reloadPage.js"></script>
<script src="/javascripts/followUnfollow.js"></script>